﻿<div class="ui-g">
    <div class="ui-g-8 ui-md-8 card card-w-title">
        <div class="ui-g-12">
            <h1 class="bold">{{warehouse.moniker}}</h1>
            <div>
                <span><b>Address:</b></span>
                <span>{{warehouse.address}}</span>
            </div>
        </div>
        <div class="ui-g-12">
            <p-dataTable [value]="warehouseItems" selectionMode="single" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
                         [totalRecords]="totalRecords" [responsive]="true" [loading]="loading">
                <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header" [filter]="col.filter" [sortable]="col.sortable">
                </p-column>
            </p-dataTable>
        </div>
    </div>
</div>
