﻿<div class="ui-g">
    <div class="ui-g-12">
        <p-toolbar>
            <div class="ui-toolbar-group-left">
                <button pButton class="blue-btn" type="button" label="Add New Order" icon="fa-plus" (click)="navigateToOrderAddPage()"></button>
                <button pButton class="green-btn" type="button" label="Refresh" icon="fa-refresh" (click)="refreshDataTable()"></button>
                <input #gb type="text" pInputText placeholder="Search">
                <i class="fa fa-search" style="position: relative; right: 20px;"></i>
            </div>
            <div class="ui-toolbar-group-right" style="margin-top: -7px;">
                <p-multiSelect [style]="{ 'height': '26px', 'top': '7px'}" [options]="columnOptions" [(ngModel)]="cols"></p-multiSelect>
                <button pButton type="button" icon="fa-print" (click)="dt.exportCSV()"></button>
                <button pButton type="button" class="black-btn" icon="fa-list" (click)="toggleView()"></button>
            </div>
        </p-toolbar>
    </div>
    <div class="ui-g-12">
        <div class="card">
            <p-dataTable [value]="orders" [lazy]="true" (onLazyLoad)="loadOrdersLazy($event)" selectionMode="single" [rows]="10" [paginator]="true"
                         [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [totalRecords]="totalRecords"
                         [globalFilter]="gb" reorderableColumns="true" [responsive]="true" [stacked]="stacked" [loading]="loading" exportFilename="orders" (onRowDblclick)="viewOrder($event.data)" #dt>
                <p-column *ngFor="let col of dtCols" [field]="col.field" [header]="col.header" [filter]="col.filter" [sortable]="true" [hidden]="!isVisible(col)">
                    <ng-template *ngIf="col.field === 'orderDate' || col.field === 'expectedDeliveryDate'" let-column let-order="rowData" pTemplate="body">
                        {{order[column.field]|date }}
                    </ng-template>
                    <ng-template *ngIf="col.field == 'paymentStatus'" pTemplate="filter" let-col>
                        <p-dropdown [options]="paymentStatusOptions" [style]="{'width':'100%'}" appendTo="body" (onChange)="dt.filter($event.value,col.field)" styleClass="ui-column-filter"></p-dropdown>
                    </ng-template>
                    <ng-template *ngIf="col.field == 'orderStatus'" pTemplate="filter" let-col>
                        <p-dropdown [options]="orderStatusOptions" [style]="{'width':'100%'}" appendTo="body" (onChange)="dt.filter($event.value,col.field)" styleClass="ui-column-filter"></p-dropdown>
                    </ng-template>
                </p-column>
                <p-column header="Actions">
                    <ng-template let-order="rowData" pTemplate="body">
                        <div style="text-align:center;">
                            <button type="button" class="green-btn" pButton (click)="viewOrder(order)" icon="fa-eye"></button>
                            <button type="button" class="blue-btn" pButton *ngIf="order.orderStatus == 'Pending' && order.paymentStatus == 'Unpaid'" (click)="editOrder(order)" icon="fa-edit"></button>
                            <button type="button" pTooltip="Create new bill" tooltipPosition="top" class="orange-btn" pButton *ngIf="order.paymentStatus != 'Paid'" (click)="navigateToBillAddPage(order)" icon="fa-money"></button>
                            <button type="button" pTooltip="Create new invoice" tooltipPosition="top" class="black-btn" pButton *ngIf="order.orderStatus != 'Delivery Completed'"(click)="navigateToInvoiceAddPage(order)" icon="fa-files-o"></button>
                            <button type="button" class="pink-btn" pButton *ngIf="order.orderStatus == 'Pending' && order.paymentStatus == 'Unpaid'" (click)="deleteOrder(order)" icon="fa-trash-o "></button>
                        </div>
                    </ng-template>
                </p-column>
            </p-dataTable>
        </div>
        <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>
    </div>
</div>
