﻿<p-growl [(value)]="messages"></p-growl>
<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-lg-6">
        <div class="card card-w-title">
            <h1>Warehouse Maintenance</h1>
            <p>{{paragraph}}</p>
            <p-tabView>
            <p-tabPanel header="Warehouse Information">
            <form novalidate (ngSubmit)="saveWarehouse()" [formGroup]="warehouseForm">
                <div class="ui-g">
                    <div class="form-group">
                        <div class="ui-g-12 ui-md-12">
                            <input type="text" pInputText placeholder="Code" id="monikerId" formControlName="moniker">
                            <span *ngIf="displayMessage.moniker">
                                <i class="text-danger">*{{displayMessage.moniker}}</i>
                            </span>
                        </div>
                        <div class="ui-g-12 ui-md-12">
                            <textarea [rows]="3" [cols]="30" pInputTextarea placeholder="Address" autoResize="autoResize" id="addressId" formControlName="address"></textarea>
                            <span *ngIf="displayMessage.address">
                                <i class="text-danger">*{{displayMessage.address}}</i>
                            </span>
                        </div>
                        <div class="ui-g-12 ui-md-12">
                            <button type="submit" label="Save" pButton icon="fa-save" [disabled]='!warehouseForm.valid'></button>
                        </div>
                    </div>
                </div>
            </form>
                </p-tabPanel>
                <p-tabPanel header="Warehouse's Items" [disabled]="warehouse == null">
                    <warehouse-item-maint *ngIf="warehouse" [warehouse]="warehouse"></warehouse-item-maint>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>