<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-lg-4">
        <div class="card card-w-title">
            <h1>{{headline}}</h1>
            <p>{{paragraph}}</p>
            <form novalidate (ngSubmit)="saveMeasurementUnit()" [formGroup]="measurementUnitForm">
                <div class="ui-g">
                    <div class="form-group">
                        <div class="ui-g-12 ui-md-12">
                            <input type="text" pInputText placeholder="Name" id="nameId" formControlName="name">
                            <span *ngIf="displayMessage.name">
                                <i class="text-danger">*{{displayMessage.name}}</i>
                            </span>
                        </div>
                        
                        <div class="ui-g-12 ui-md-12">
                            <textarea [rows]="3" [cols]="30" pInputTextarea placeholder="Remarks" autoResize="autoResize" id="remarksId" formControlName="remarks"></textarea>
                        </div>
                        <div class="ui-g-12 ui-md-12">
                            <button type="submit" label="Save" pButton icon="fa-save" [disabled]='!measurementUnitForm.valid'></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>