<div class="ui-g dashboard">
    <div class="ui-g-12 ui-md-6 ui-lg-3">
        <div class="ui-g overview-box overview-box-1">
            <div class="ui-g-4 overview-box-icon">
                <i class="fa fa-fw fa-5x fa-building-o" style="color: #c4c4c4"></i>
            </div>
            <div class="ui-g-8" style="text-align: center">
                <span class="overview-box-count">{{introInformation.warehouseCount}}</span>
                <span class="overview-box-name">WAREHOUSE(s)</span>
                <!--<span class="overview-box-rate" style="background: #64b5f6">ITEMS: {{introInformation.itemCount}}</span>
                <br />-->
                <span class="overview-box-rate" style="background: #8bc34a">INVENTORIES: {{introInformation.inventoryCount}}</span>
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
        <div class="ui-g overview-box overview-box-2">
            <div class="ui-g-4 overview-box-icon">
                <i class="fa fa-fw fa-5x fa-paper-plane-o" style="color: #c4c4c4"></i>
            </div>
            <div class="ui-g-8" style="text-align: center">
                <span class="overview-box-count">{{introInformation.orderCount}}</span>
                <span class="overview-box-name">ORDER(s)</span>
                <span class="overview-box-rate" style="background: #f44336">UNPAID: {{introInformation.unpaidOrders}}</span>
                <!--<br />
                <span class="overview-box-rate" style="background: #ffd54f">PARTIALLY PAID: {{introInformation.partialPaidOrders}}</span>-->
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
        <div class="ui-g overview-box overview-box-4">
            <div class="ui-g-4 overview-box-icon">
                <i class="fa fa-fw fa-5x fa-user-o" style="color: #c4c4c4"></i>
            </div>
            <div class="ui-g-8" style="text-align: center">
                <span class="overview-box-count">{{introInformation.supplierCount + introInformation.customerCount}}</span>
                <span class="overview-box-name">USER(s)</span>
                <span class="overview-box-rate" style="background: #9E9E9E">SUPPLIERS: {{introInformation.supplierCount}}</span>
                <!--<br />
                <span class="overview-box-rate" style="background: #607D8B">CUSTOMERS: {{introInformation.customerCount}}</span>-->
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
        <div class="ui-g overview-box overview-box-3">
            <div class="ui-g-4 overview-box-icon">
                <i class="fa fa-fw fa-5x fa-files-o" style="color: #c4c4c4"></i>
            </div>
            <div class="ui-g-8" style="text-align: center">
                <span class="overview-box-count">{{introInformation.invoiceCount}}</span>
                <span class="overview-box-name">INVOICE(s)</span>

                <span class="overview-box-rate" style="background: #f44336">PENDING: {{introInformation.pendingOrders}}</span>
                <!--<br />
                <span class="overview-box-rate" style="background: #ffd54f">PARTIALLY DELIVERED: {{introInformation.partialDeliveredOrders}}</span>-->
            </div>
        </div>
    </div>

    <div class="ui-g-12 ui-lg-4 contacts">
        <div class="card card-w-title" style="height: 295px;">
            <h1>Product Details</h1>
            <ul style="margin-top: 50px;">
                <li class="clearfix">
                    <a href="#">
                        <div class="contact-info">
                            <span class="name">Low Stock Items ( < 10)</span>
                        </div>
                        <div class="contact-actions">
                            <span class="label label-danger">{{productDetails.lowStockItems}}</span>
                        </div>
                    </a>
                </li>
                <li class="clearfix">
                    <div class="contact-info">
                        <span class="name">All Categories</span>
                    </div>
                    <div class="contact-actions">
                        <span class="label label-primary">{{productDetails.categoryCount}}</span>
                    </div>
                </li>
                <li class="clearfix">
                    <div class="contact-info">
                        <span class="name">All Items</span>
                    </div>
                    <div class="contact-actions">
                        <span class="label label-primary">{{productDetails.itemCount}}</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="ui-g-12 ui-lg-8">
        <p-panel header="Top Ordered Items">
            <div *ngIf="topSellingItems.length === 0" style="height:250px; text-align: center">
                <div style="padding-top: 30px;">
                    <i class="fa fa-times-circle" style="color:#f44336;font-size:10em;"></i>
                    <h2>No item is currently ordered!</h2>
                </div>
            </div>
            <div *ngIf="topSellingItems.length !== 0" style="height:250px; text-align: center">
                <div class="ui-g-12">
                    <div class="ui-g-4" *ngFor="let topSellingItem of topSellingItems">
                        <img src="http://pngimg.com/uploads/tshirt/tshirt_PNG5448.png" height="135" />
                        <div style="margin: 15px;">
                            <h2 style="margin: 0">{{topSellingItem.item.name}}</h2>
                            <h3 style="margin: 5px">Total Ordered: {{topSellingItem.totalOrdered}}</h3>
                            <label class="label label-default" style="margin: 0">{{topSellingItem.baseUnit.name}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </p-panel>
    </div>

    <div class="ui-g-12 ui-lg-6">
        <p-panel header="PROFIT (SALES - PURCHASES)">
            <div style="overflow: auto">
                <p-chart type="bar" responsive="true" [data]="profitMargins" [options]="tripleSetOptions"></p-chart>
            </div>
        </p-panel>
    </div>

    <div class="ui-g-12 ui-lg-6">
        <p-panel header="MONTHLY SALES - QUANTITY AND CUMULATIVE QUANTITY">
            <div style="overflow: auto">
                <p-chart type="bar" responsive="true" [data]="soldQuantityByCumulativeQuantity" [options]="doubleSetOptions"></p-chart>
            </div>
        </p-panel>
    </div>

    <div class="ui-g-12 ui-lg-6">
        <p-panel header="MONTHLY SALES - AMOUNT AND CUMULATIVE AMOUNT">
            <div style="overflow: auto">
                <p-chart type="bar" responsive="true" [data]="soldAmountByCumulativeAmount" [options]="doubleSetOptions"></p-chart>
            </div>
        </p-panel>
    </div>

    <div class="ui-g-12 ui-lg-6">
        <p-panel header="MONTHLY PURCHASES - QUANTITY AND CUMULATIVE QUANTITY ">
            <div style="overflow: auto">
                <p-chart type="bar" responsive="true" [data]="purchasedQuantityByCumulativeQuantity" [options]="doubleSetOptions"></p-chart>
            </div>
        </p-panel>
    </div>
</div>