﻿<div class="ui-g">
    <div class="ui-g-12">
        <p-toolbar>
            <div class="ui-toolbar-group-left">
                <button pButton class="blue-btn" type="button" label="Add New Bill" icon="fa-plus" (click)="navigateToBillAddPage()"></button>
                <button pButton class="green-btn" type="button" label="Refresh" icon="fa-refresh" (click)="refreshDataTable()"></button>
                <input #gb type="text" pInputText placeholder="Search">
                <i class="fa fa-search" style="position: relative; right: 20px;"></i>
            </div>
            <div class="ui-toolbar-group-right"style="margin-top: -7px;">
                <p-multiSelect [style]="{ 'height': '26px', 'top': '7px'}" [options]="columnOptions" [(ngModel)]="cols"></p-multiSelect>
                <button pButton type="button" icon="fa-print" (click)="dt.exportCSV()"></button>
                <button pButton type="button" class="black-btn" icon="fa-list" (click)="toggleView()"></button>
            </div>
        </p-toolbar>
    </div>
    <div class="ui-g-12">
        <div class="card">
            <p-dataTable [value]="bills" [lazy]="true" (onLazyLoad)="loadBillsLazy($event)" selectionMode="single" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
                         [totalRecords]="totalRecords" [globalFilter]="gb" reorderableColumns="true" [responsive]="true" [stacked]="stacked" [loading]="loading" exportFilename="bills" (onRowDblclick)="viewBill($event.data)" #dt>
                <p-column *ngFor="let col of dtCols" [field]="col.field" [header]="col.header" [filter]="col.filter" [sortable]="col.sortable" [hidden]="!isVisible(col)">
                    <ng-template *ngIf="col.field === 'order.moniker'" let-bill pTemplate="filter">
                        <p-inputMask mask="ORD-999999999999"  [style]="{'width':'100%', 'margin-top': '.25em'}" placeholder="Order No" (onBlur)="dt.filter($event.target.value, bill.field)"></p-inputMask>
                    </ng-template>
                    <ng-template *ngIf="col.field === 'billDate'" let-column let-bill="rowData" pTemplate="body">
                        {{bill[column.field]|date }}
                    </ng-template>
                    <ng-template *ngIf="col.field == 'paidAmount'" pTemplate="filter" let-bill>
                        <i>&nbsp;({{rangeValues[0]}} - {{rangeValues[1]}})</i>
                        <p-slider [style]="{'margin-top': '5px'}" [(ngModel)]="rangeValues" [min]="0" [max]="1000000" [range]="true" (onSlideEnd)="dt.filter($event.values, bill.field)"></p-slider>
                    </ng-template>
                    <ng-template *ngIf="col.field == 'paymentMethod'" pTemplate="filter" let-col>
                        <p-dropdown [options]="paymentMethodOptions" [style]="{'width':'100%'}" appendTo="body" (onChange)="dt.filter($event.value,col.field)" styleClass="ui-column-filter"></p-dropdown>
                    </ng-template>
                </p-column>
                <p-column header="Actions">
                    <ng-template let-bill="rowData" pTemplate="body">
                        <div style="text-align:center;">
                            <button type="button" class="green-btn" pButton (click)="viewBill(bill)" icon="fa-eye"></button>
                            <button type="button" class="blue-btn" pButton (click)="editBill(bill)" icon="fa-edit"></button>
                            <button type="button" class="pink-btn" pButton (click)="deleteBill(bill)" icon="fa-trash-o "></button>
                        </div>
                    </ng-template>
                </p-column>
            </p-dataTable>
        </div>
    </div>
</div>
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>