﻿.form-auth {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

    .form-auth .form-auth-heading,
    .form-auth .checkbox { margin-bottom: 10px; }

    .form-auth .checkbox { font-weight: normal; }

    .form-auth .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }

        .form-auth .form-control:focus { z-index: 2; }


/*Identity Server QuickStart Style*/

.validation-summary-valid{
    display:none;
}

.logged-out iframe {
    display: none;
    width: 0;
    height: 0;
}
.page-consent .client-logo {
    float: left;
}
.page-consent .client-logo img {
    width: 80px;
    height: 80px;
}
.page-consent .consent-buttons {
    margin-top: 25px;
}
.page-consent .consent-form .consent-scopecheck {
    display: inline-block;
    margin-right: 5px;
}
.page-consent .consent-form .consent-description {
    margin-left: 25px;
}
.page-consent .consent-form .consent-description label {
    font-weight: normal;
}
.page-consent .consent-form .consent-remember {
    padding-left: 16px;
}

.user-title-bar {
    background-color: #FFFFFF;
}

.user-status-bar {
    background-color: #ECF0F1;
}

/*a:hover, a:active, a:focus{
    text-decoration: none;
}*/

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-weight: bold;
    line-height: 2;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

a.label:hover,
a.label:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.label:empty {
  display: none;
}
.btn .label {
  position: relative;
  top: -1px;
}
.label-default {
  background-color: #777;
}
.label-default[href]:hover,
.label-default[href]:focus {
  background-color: #5e5e5e;
}
.label-primary {
  background-color: #337ab7;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #286090;
}
.label-success {
  background-color: #5cb85c;
}
.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #449d44;
}
.label-info {
  background-color: #5bc0de;
}
.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #31b0d5;
}
.label-warning {
  background-color: #f0ad4e;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #ec971f;
}
.label-danger {
  background-color: #d9534f;
}
.label-danger[href]:hover,
.label-danger[href]:focus {
  background-color: #c9302c;
}

/*.card {
    font-size: 16px;
}*/
