<div class="ui-g">
    <div class="ui-g-12">
        <p-toolbar>
            <div class="ui-toolbar-group-left">
                <button pButton class="blue-btn" type="button" label="Add New Supplier" icon="fa-plus" (click)="navigateToSupplierAddPage()"></button>
                <button pButton class="green-btn" type="button" label="Refresh" icon="fa-refresh" (click)="refreshDataTable()"></button>
                <input #gb type="text" pInputText placeholder="Search">
                <i class="fa fa-search" style="position: relative; right: 20px;"></i>
            </div>
            <div class="ui-toolbar-group-right" style="margin-top: -7px;">
                <p-multiSelect [style]="{ 'height': '26px', 'top': '7px'}" [options]="columnOptions" [(ngModel)]="cols"></p-multiSelect>
                <button pButton type="button" icon="fa-print" (click)="dt.exportCSV()"></button>
                <button pButton type="button" class="black-btn" icon="fa-list" (click)="toggleView()"></button>
            </div>
        </p-toolbar>
    </div>
    <div class="ui-g-12">
        <div class="card">
            <p-dataTable [value]="suppliers" [lazy]="true" (onLazyLoad)="loadSuppliersLazy($event)" selectionMode="single" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
                [totalRecords]="totalRecords" [globalFilter]="gb" reorderableColumns="true" [responsive]="true" [stacked]="stacked" [loading]="loading" exportFilename="suppliers" (onRowDblclick)="viewSupplier($event.data)" #dt>
                <p-column *ngFor="let col of dtCols" [field]="col.field" [header]="col.header" [filter]="col.filter" [sortable]="true" [hidden]="!isVisible(col)">
                    <ng-template *ngIf="col.field === 'phone'" pTemplate="filter" let-supplier>
                        <p-inputMask [style]="{'width': '100%', 'margin-top': '.25em'}" mask="(999)99999-99999" placeholder="Phone" (onBlur)="dt.filter($event.target.value,supplier.field,supplier.filterMatchMode)"></p-inputMask>
                    </ng-template>
                    <ng-template *ngIf="col.field == 'country'" pTemplate="filter" let-col>
                        <p-multiSelect [options]="countries" defaultLabel="All Countries" appendTo="body" (onChange)="dt.filter($event.value,col.field)" styleClass="ui-column-filter"></p-multiSelect>
                    </ng-template>
                </p-column>
                <p-column header="Actions">
                    <ng-template let-supplier="rowData" pTemplate="body">
                        <div style="text-align:center;">
                            <button type="button" class="green-btn" pButton (click)="viewSupplier(supplier)" icon="fa-eye"></button>
                            <button type="button" class="blue-btn" pButton (click)="editSupplier(supplier)" icon="fa-edit"></button>
                            <button type="button" class="pink-btn" pButton (click)="deleteSupplier(supplier)" icon="fa-trash-o "></button>
                        </div>
                    </ng-template>
                </p-column>
            </p-dataTable>
        </div>
    </div>
</div>

<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>