﻿<div class="ui-g">
    <div class="card">
        <div class="ui-g-4 ui-g-nopad">
            <div class="ui-g">
                <div class="ui-g-12">
                    <div class="card card-w-title">
                        <h1>
                            <i class="fa fa-barcode floating-right-icon"></i>Bill No</h1>
                        <div style="text-align:center; font-size: 2em;">
                            {{bill.moniker}}
                        </div>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="card card-w-title">
                        <h1>
                            <i class="fa fa-calendar-o floating-right-icon" style="color:#5bc0de;"></i>Bill Date</h1>
                        <div style="text-align:center; font-size: 2em;">
                            {{bill.billDate | date}}
                        </div>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="card card-w-title">
                        <h1>
                            <i class="fa fa-shopping-cart floating-right-icon" style="color:#5bc0de;"></i>Order No.</h1>
                        <div style="text-align:center; font-size: 2em;">
                            {{bill.order.moniker}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g-4 ui-g-nopad">
            <div class="ui-g-12">
                <div class="card" style="min-height: 400px;">
                    <h1 style="color:#f0ad4e">Billing Address</h1>
                    <div style="font-size:1.2em;">
                        <span>
                            <b>Name: </b>{{bill.order.customer.firstName}} {{bill.order.customer.lastName}}</span>
                    </div>
                    <div style="font-size:1.2em;">
                        <span>
                            <b>P. Address: </b>{{bill.order.customer.address1}}</span>
                    </div>
                    <div style="font-size:1.2em;">
                        <span>
                            <b>S. Address: </b>
                            <span *ngIf="bill.order.customer.address2">{{bill.order.customer.address2}}</span>
                            <span *ngIf="!bill.order.customer.address2">N/A</span>
                        </span>
                    </div>
                    <div style="font-size:1.2em;">
                        <span>
                            <b>Country: </b>
                            <span *ngIf="bill.order.customer.country">{{bill.order.customer.country}}</span>
                            <span *ngIf="!bill.order.customer.country">N/A</span>
                        </span>
                    </div>
                    <div style="font-size:1.2em;">
                        <span>
                            <b>City: </b>
                            <span *ngIf="bill.order.customer.city">{{bill.order.customer.city}}</span>
                            <span *ngIf="!bill.order.customer.city">N/A</span>
                        </span>
                    </div>
                    <div style="font-size:1.2em;">
                        <span>
                            <b>Postal Code: </b>
                            <span *ngIf="bill.order.customer.postal">{{bill.order.customer.postal}}</span>
                            <span *ngIf="!bill.order.customer.postal">N/A</span>
                        </span>
                    </div>
                    <h1 style="color:#f0ad4e">Contact Info</h1>
                    <div style="font-size:1.2em;">
                        <span>
                            <b>Phone: </b>
                            <span *ngIf="bill.order.customer.phone">{{bill.order.customer.phone}}</span>
                            <span *ngIf="!bill.order.customer.phone">N/A</span>
                        </span>
                    </div>
                    <div style="font-size:1.2em;">
                        <span>
                            <b>Alt. Phone: </b>
                            <span *ngIf="bill.order.customer.alternativePhone">{{bill.order.customer.alternativePhone}}</span>
                            <span *ngIf="!bill.order.customer.alternativePhone">N/A</span>
                        </span>
                    </div>
                    <div style="font-size:1.2em;">
                        <span>
                            <b>Email: </b>
                            <span *ngIf="bill.order.customer.email">{{bill.order.customer.email}}</span>
                            <span *ngIf="!bill.order.customer.email">N/A</span>
                        </span>
                    </div>
                    <div style="font-size:1.2em;">
                        <span>
                            <b>Website: </b>
                            <span *ngIf="bill.order.customer.website">{{bill.order.customer.website}}</span>
                            <span *ngIf="!bill.order.customer.website">N/A</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g-4 ui-g-nopad">
            <div class="ui-g">
                <div class="ui-g-12">
                    <div style="text-align: right; height: 130px;">
                        <button pButton type="button" class="blue-btn" style="width: 45px; height:45px;" icon="fa-pencil fa-2x" (click)="editBill()"></button>
                        <button pButton type="button" class="purple-btn" style="width: 45px; height:45px;" icon="fa-file-pdf-o fa-2x" (click)="generatePdf()"></button>
                        <button pButton type="button" pTooltip="View order" tooltipPosition="top" class="green-btn" style="width: 45px; height:45px;" icon="fa-shopping-cart fa-2x" (click)="viewOrder()"></button>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="card card-w-title">
                        <h1>
                            <i class="fa fa-money floating-right-icon" style="color:#8bc34a;"></i>Paid Amount</h1>
                        <div style="text-align:center; font-size: 2em;">
                            {{bill.paidAmount}} Tk.
                        </div>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="card card-w-title">
                        <h1>
                            <i class="fa  fa-credit-card floating-right-icon" style="color:#8bc34a;"></i>Payment Method</h1>
                        <div style="text-align:center; font-size: 2em;">
                            {{bill.paymentMethod}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>