﻿.floating-right-icon {
    float: right;
    font-size: 1.5em;
}

.quantity-box {
    display: inline;
    padding: .2em .6em .3em;
    font-weight: bold;
    line-height: 2;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background: #777777;
    border-radius: 2px;
} 