﻿<p-tabView>
    <p-tabPanel header="Basic Information">
        <div class="ui-g">
            <div class="ui-g-3 ui-g-nopad">
                <div class="ui-g-12">
                    <div class="card card-w-title" style="text-align: center;">
                        <h1>{{customer.firstName}} {{customer.lastName}}</h1>
                        <img src="http://headshot.com.au/wp/wp-content/uploads/2015/08/MHC_5150_PP.jpg" height="250" />
                        <div class="ui-g-12">
                            <button class="ui-button-secondary" pButton icon="fa-address-card-o" (mouseenter)="addressInfo.show($event)" label="Address"></button>
                        </div>
                        <br/>
                        <label class="label label-primary"><i class="fa fa-phone"></i> {{customer.phone}}</label>
                    </div>
                    <p-overlayPanel #addressInfo>
                        <p><span><b>Primary:</b></span> {{customer.address1}}</p>
                        <p *ngIf="customer.address2"><span><b>Seconday:</b></span> {{customer.address2}}</p>
                        <p *ngIf="customer.city"><span><b>City:</b></span> {{customer.city}}</p>
                        <p *ngIf="customer.country"><span><b>Country:</b></span> {{customer.country}}</p>
                        <p *ngIf="customer.postalCode"><span><b>Postal Code:</b></span> {{customer.postalCode}}</p>
                        <p *ngIf="customer.email"><span><b>Email:</b></span> {{customer.email}}</p>
                        <p *ngIf="customer.alternativePhone"><span><b>Alt. Phone:</b></span> {{customer.alternativePhone}}</p>
                        <p *ngIf="customer.companyName"><span><b>Company:</b></span> {{customer.companyName}}</p>
                        <p *ngIf="customer.website"><span><b>Website:</b></span> {{customer.website}}</p>
                    </p-overlayPanel>
                </div>
            </div>
            <div class="ui-g-6 ui-g-nopad">
                <div class="ui-g">
                    <div class="ui-g-6">
                        <div class="card card-w-title">
                            <h1><i class="fa fa-money floating-right-icon" style="color:#8bc34a;"></i>Total Bill Amount</h1>
                            <div style="text-align:center; font-size: 3em;">
                                {{totalBillAmount}} Tk.
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-6">
                        <div class="card card-w-title">
                            <h1><i class="fa fa-angle-double-down floating-right-icon" style="color:#f44336;"></i>Total Due Amount</h1>
                            <div style="text-align:center; font-size: 3em; color: #d9534f;">
                                {{totalDueAmount}} Tk.
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="card card-w-title" style="min-height: 240px">
                            <h1><i class="fa fa-exclamation floating-right-icon" style="color:#f0ad4e;"></i>Pending Orders</h1>
                            <p-dataTable [value]="pendingOrders" [lazy]="true" *ngIf="customer.phone" (onLazyLoad)="loadPendingOrdersLazy($event)" [rows]="10" [paginator]="true"
                                         [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [totalRecords]="totalPendingOrders"
                                         [responsive]="true" [loading]="loadingPendingOrder">
                                <p-column *ngFor="let colIn of dtOrderCols" [field]="colIn.field" [header]="colIn.header" [sortable]="true">
                                </p-column>
                            </p-dataTable>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-lg-3">
                <div class="card" style="min-height: 400px;">
                    <h1>Total Ordered Items</h1>
                    <h2 class="quantity-box">{{totalOrderedItems}}</h2>
                    <h1>Total Invoiced Items</h1>
                    <h2 class="quantity-box">{{totalInvoicedItems}}</h2>
                    <h1>Items To Be Invoiced</h1>
                    <h2 class="quantity-box" style="background:#f0ad4e">{{totalItemToBeInvoiced}}</h2>
                </div>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Orders({{totalOrders}})">
        <div class="ui-g">
            <div class="card card-w-title">
                <h1>Issued Orders</h1>
                <p-dataTable [value]="orders" [lazy]="true" *ngIf="customer.phone" (onLazyLoad)="loadOrdersLazy($event)" [rows]="10" [paginator]="true"
                             [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [totalRecords]="totalOrders"
                             [responsive]="true" [loading]="loadingOrder">
                    <p-column *ngFor="let colIn of dtOrderCols" [field]="colIn.field" [header]="colIn.header" [sortable]="true">
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Invoices({{totalInvoices}})">
        <div class="ui-g">
            <div class="card card-w-title">
                <h1>Issued Invoices</h1>
                <p-dataTable [value]="invoices" [lazy]="true" *ngIf="customer.phone && orders" (onLazyLoad)="loadInvoicesLazy($event)" [rows]="10" [paginator]="true"
                             [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [totalRecords]="totalInvoices"
                             [responsive]="true" [loading]="loadingInvoice">
                    <p-column *ngFor="let colIn of dtInvoiceCols" [field]="colIn.field" [header]="colIn.header" [sortable]="true">
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Bills({{totalBills}})">
        <div class="ui-g">
            <div class="card card-w-title">
                <h1>Issued Bills</h1>
                <p-dataTable [value]="bills" [lazy]="true" *ngIf="customer.phone && orders" (onLazyLoad)="loadBillsLazy($event)" [rows]="10" [paginator]="true"
                             [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [totalRecords]="totalBills"
                             [responsive]="true" [loading]="loadingBill">
                    <p-column *ngFor="let colIn of dtBillCols" [field]="colIn.field" [header]="colIn.header" [sortable]="true">
                    </p-column>
                    <p-footerColumnGroup>
                        <p-row class="footerNumberFields">
                            <p-column [style]="{'text-align':'left','font-weight':'bold'}" footer="Total:"></p-column>
                            <p-column footer="">></p-column>
                            <p-column [style]="{'text-align':'right','font-weight':'bold'}" footer="{{totalBillAmount}}"></p-column>
                            <p-column footer=""></p-column>
                        </p-row>
                    </p-footerColumnGroup>
                </p-dataTable>
            </div>
        </div>
    </p-tabPanel>
</p-tabView>