﻿<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-lg-12 card card-w-title">
        <h1>Invoice Maintenance</h1>
        <p>{{paragraph}}</p>
        <p-growl [(value)]="msgs"></p-growl>
        <div class="ui-g">
            <span class="ui-g-3">Genarate Invc.Code</span>
            <p-inputSwitch class="ui-g-9" onLabel="Yes" offLabel="No" (onChange)="handleChange($event)" [(ngModel)]="checked"></p-inputSwitch>
        </div>
        <form novalidate (ngSubmit)="saveInvoice()" [formGroup]="invoiceForm" style="width:100%;">
            <div class="form-group">
                <div class="ui-g-12 ui-md-12" *ngIf="checked==false">
                    <p-inputMask mask="INVC-999999999999" [required]="checked" placeholder="Invoice Code" id="mokierId" formControlName="moniker"></p-inputMask>
                    <span *ngIf="displayMessage.moniker">
                        <i class="text-danger">*{{displayMessage.moniker}}</i>
                    </span>
                </div>
                <div class="ui-g-12 ui-md-12">
                    <p-calendar id="invoiceDateId" formControlName="invoiceDate" [showIcon]="true" placeholder="Invoice Date"></p-calendar>
                    <span *ngIf="displayMessage.invoiceDate">
                        <i class="text-danger">*{{displayMessage.invoiceDate}}</i>
                    </span>
                </div>
                <div class="ui-g-12 ui-md-12">
                    <textarea pInputTextarea id="descriptionId" formControlName="description" [rows]="3" [cols]="30" placeholder="Description"
                              autoResize="autoResize"></textarea>
                </div>
                <div class="ui-g-12 ui-md-12">
                    <p-inputMask mask="ORD-999999999999" placeholder="Order No" id="orderMoniker" formControlName="orderMoniker" (onComplete)="searchOrders()"></p-inputMask>
                    <span *ngIf="displayMessage.orderMoniker">
                        <i class="text-danger">*{{displayMessage.orderMoniker}}</i>
                    </span>
                </div>
                <div class="ui-g-12 ui-md-12">
                    <span *ngIf="errorMessage">
                        <i class="text-danger">{{errorMessage}}</i>
                    </span>
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="20%">Item</th>
                                <th width="7%">Ord. Qty</th>
                                <th width="7%">Leftover. Qty</th>
                                <th width="7%">Measurement Unit</th>
                                <th width="7%">Warehouse</th>
                                <th width="7%">Warehouse Qty</th>
                                <th width="7%">Inv. Qty</th>
                                <th width="7%">U.Price</th>
                                <th width="7%">Discount</th>
                                <th width="7%">Amount</th>
                                <th width="7%">Remarks</th>
                                <th width="10%">Action</th>
                            </tr>
                        </thead>
                        <tbody formArrayName="invoiceItems">
                            <tr *ngFor="let invoiceItem of invoiceItems.controls; let i = index" [formGroupName]="i">
                                <td>
                                    <span>{{invoiceItem.get('item').value.name}}</span>
                                </td>
                                <td>
                                    <span>{{invoiceItem.get('orderedQuantity').value}}</span>
                                </td>
                                <td>
                                    <span>{{invoiceItem.get('leftOverQuantity').value}}</span>
                                </td>
                                <td>
                                    <span>{{invoiceItem.get('measurementUnit').value}}</span>
                                </td>
                                <td>
                                    <p-dropdown id="{{'warehouseId' + i}}" formControlName="warehouse" [options]="warehouses" placeholder="Select Warehouse" (onChange)="getWarehouseItemQuantity(i)"
                                                [filter]="true" [autoWidth]="false"></p-dropdown>
                                </td>
                                <td>
                                    <span>{{invoiceItem.get('warehouseQuantity').value}}{{invoiceItem.get('baseUnit').value}}</span>
                                </td>
                                <td>
                                    <p-spinner placeholder="Quantity" id="{{'quantityId' + i}}" formControlName="quantity" [min]="1" (onChange)="calculateRowAmount(i)"></p-spinner>
                                </td>
                                <td>
                                    <span>{{invoiceItem.get('unitPrice').value}}</span>
                                <td>
                                    <span>{{invoiceItem.get('discount').value}}</span>
                                <td>
                                    <span>{{invoiceItem.get('amount').value}}</span>
                                </td>
                                <td>
                                    <input type="text" id="{{'remarksId' + i}}" formControlName="remarks" pInputText placeholder="Remarks">
                                </td>
                                <td style="text-align: center;">
                                    <button type="button" class="pink-btn" pButton (click)="deleteItemFromList(i)" icon="fa-trash-o"></button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="12" style="padding: 7px 0px;" *ngIf="invoiceItems.controls.length === 0">
                                    <span>
                                        <i>No items added to the order yet</i>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="ui-g-12 ui-md-12">
                    <button type="submit" label="Save" pButton icon="fa-save" [disabled]='!invoiceForm.valid'></button>
                </div>
            </div>
        </form>
    </div>
</div>