<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-lg-12 card card-w-title">
        <h1>Inventory Maintenance</h1>
        <p>{{paragraph}}</p>
        <p-growl [(value)]="msgs"></p-growl>
        <div class="ui-g">
            <span class="ui-g-2">Genarate Inv.Code</span>
            <p-inputSwitch class="ui-g-5" onLabel="Yes" offLabel="No" (onChange)="handleChange($event)" [(ngModel)]="checked"></p-inputSwitch>
        </div>
        <form novalidate (ngSubmit)="saveInventory()" [formGroup]="inventoryForm">
            <div class="ui-g">
                <div class="form-group">
                    <div class="ui-g-12 ui-md-6" *ngIf="checked==false">
                        <p-inputMask mask="INVT-999999999999" placeholder="Inventory Code" id="mokierId" formControlName="moniker"></p-inputMask>
                        <span *ngIf="displayMessage.moniker">
                            <i class="text-danger">*{{displayMessage.moniker}}</i>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-md-6">
                        <p-calendar id="purchaseDateId" formControlName="purchaseDate" [showIcon]="true" placeholder="Purchase Date"></p-calendar>
                        <span *ngIf="displayMessage.purchaseDate">
                            <i class="text-danger">*{{displayMessage.purchaseDate}}</i>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-md-12">
                        <textarea pInputTextarea id="descriptionId" formControlName="description" [rows]="3" [cols]="30" placeholder="Description"
                                  autoResize="autoResize"></textarea>
                    </div>
                    <div class="ui-g-12 ui-md-12">Priority Level</div>
                    <div class="ui-g-12 ui-md-12">
                        <p-slider id="priorityLevelId" formControlName="priorityLevel" [min]="1" [max]="10"></p-slider>
                    </div>
                    <div class="ui-g-12 ui-md-12">
                        <p-dropdown id="supplierId" formControlName="supplier" [options]="suppliers" placeholder="Select Supplier" [filter]="true" [autoWidth]="false"></p-dropdown>
                        <span *ngIf="displayMessage.supplier">
                            <i class="text-danger">*{{displayMessage.supplier}}</i>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-md-12">
                        <p-dropdown id="warehouseId" formControlName="warehouse" [options]="warehouses" placeholder="Select Warehouse" [filter]="true" [autoWidth]="false" (onChange)="toggleItemDropdown()"></p-dropdown>
                        <span *ngIf="displayMessage.warehouse">
                            <i class="text-danger">*{{displayMessage.warehouse}}</i>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-md-12">
                        <p-autoComplete id="itemsId" [suggestions]="items" (completeMethod)="searchItems($event)"
                                        [minLength]="1" placeholder="Search item(s)" field="name"
                                        (onSelect)="addItemInList($event)" [disabled]="itemDisabled">
                        </p-autoComplete>
                    </div>
                    <div class="ui-g-12 ui-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="15%">Item</th>
                                    <th width="10%">Quantity</th>
                                    <th width="10%">M.Unit</th>
                                    <th width="15%">Warehouse</th>
                                    <th width="10%">Unit Price</th>
                                    <th width="10%">Amount</th>
                                    <th width="15%">Remarks</th>
                                    <th width="5%">Action</th>
                                </tr>
                            </thead>
                            <tbody formArrayName="inventoryItems">
                                <tr *ngFor="let inventoryItem of inventoryItems.controls; let i = index" [formGroupName]="i">
                                    <td>
                                        <span>{{(inventoryItem.get('item').value).name}}</span>
                                    </td>
                                    <td>
                                        <p-spinner placeholder="Issued Quantity" id="{{'issuedQuantityId' + i}}" formControlName="issuedQuantity" (onChange)="calculateRowAmount(i)"></p-spinner>
                                    </td>
                                    <td>
                                        <p-dropdown id="{{measurementUnitSetupId + i}}" formControlName="measurementUnitSetup" [options]="(inventoryItem.get('measurementUnitSetups').value)" placeholder="Select Unit" [autoWidth]="false"></p-dropdown>
                                    </td>
                                    <td>
                                        <span>{{(inventoryItem.get('warehouse').value).moniker}}</span>
                                    </td>
                                    <td>
                                        <p-spinner placeholder="Unit Price" id="{{'costPerUnitId' + i}}" formControlName="costPerUnit" (onChange)="calculateRowAmount(i)"></p-spinner>
                                    </td>
                                    <td>
                                        <span>{{inventoryItem.get('amount').value}}</span>
                                    </td>
                                    <td>
                                        <input type="text" id="{{'remarksId' + i}}" formControlName="remarks" pInputText placeholder="Remarks">
                                    </td>
                                    <td style="text-align:center;">
                                        <button type="button" class="pink-btn" pButton (click)="deleteItemFromList(i)" icon="fa-trash-o "></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="8" style="padding: 7px 0px;" *ngIf="inventoryItems.controls.length === 0">
                                        <span><i>No items added to the inventory yet</i></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="ui-g-12 ui-md-12">
                        <button type="submit" label="Save" pButton icon="fa-save" [disabled]='!inventoryForm.valid'></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>