<p-growl [(value)]="messages"></p-growl>
<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-lg-8">
        <div class="card card-w-title">
            <h1>{{headline}}</h1>
            <p>{{paragraph}}</p>
            <p-tabView>
                <p-tabPanel header="Item Information">
                    <form novalidate (ngSubmit)="saveItem()" [formGroup]="itemForm">
                        <div class="ui-g">
                            <div class="form-group">
                                <div class="ui-g-12 ui-md-12">
                                    <p-dropdown id="categoryId" formControlName="category" [options]="categories" placeholder="Select Category" [filter]="true" [autoWidth]="false"></p-dropdown>
                                    <span *ngIf="displayMessage.category">
                                        <i class="text-danger">*{{displayMessage.category}}</i>
                                    </span>
                                </div>
                                <div class="ui-g-12 ui-md-12">
                                    <input type="text" pInputText placeholder="Name" id="nameId" formControlName="name">
                                    <span *ngIf="displayMessage.name">
                                        <i class="text-danger">*{{displayMessage.name}}</i>
                                    </span>
                                </div>
                                <div class="ui-g-12 ui-md-12">
                                    <textarea [rows]="3" [cols]="30" pInputTextarea placeholder="Description" autoResize="autoResize" id="descriptionId" formControlName="description"></textarea>
                                </div>
                                <div class="ui-g-12 ui-md-12">
                                    <button type="submit" label="Save" pButton icon="fa-save" [disabled]='!itemForm.valid'></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </p-tabPanel>
                <p-tabPanel header="Item's Configuration" [disabled]="item == null">
                    <measurement-unit-setup-maint *ngIf="item" [item]="item"></measurement-unit-setup-maint>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>