﻿<p-growl [(value)]="messages"></p-growl>
<form novalidate (ngSubmit)="saveWarehouseItem()" [formGroup]="warehouseItemForm">
    <div class="ui-g">
        <div class="form-group">
            <div class="ui-g-12 ui-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="50%">Item</th>
                            <th width="25%">Base Measurement Unit</th>
                            <th width="25%">Quantity</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="warehouseItems">
                        <tr *ngFor="let warehouseItem of warehouseItems.controls; let i = index" [formGroupName]="i">
                            <td>
                                <span>{{(warehouseItem.get('measurementUnitSetup').value).item.name}}</span>
                            </td>
                            <td>
                                <span>{{(warehouseItem.get('measurementUnitSetup').value).measurementUnit.name}}</span>
                            </td>
                            <td style="text-align: center">
                                <input type="text" id="{{'quantityId' + i}}" formControlName="quantity" pInputText placeholder="Quantity">
                            </td>
                        </tr>
                        <tr *ngIf="warehouseItems.controls.length === 0">
                            <td colspan="3" style="padding: 7px 0px;">
                                <span><i>No results found!</i></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="ui-g-12 ui-md-12">
                <button type="submit" label="Save" pButton icon="fa-save" [disabled]='!warehouseItemForm.dirty'></button>
            </div>
        </div>
    </div>
</form>