@{
    ViewData["Title"] = "Home Page";
}

<app>
    <div class="splash-screen">
        <div class="splash-loader"></div>
        <img class="splash-logo" src="~/dist/3TierLabLogo.png" />
    </div>
</app>
<script src="~/dist/vendor.js" asp-append-version="true"></script>
@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
