﻿<div class="ui-g">
    <div class="ui-g-8 ui-md-8 card card-w-title">
        <h1>{{measurementunitName}}</h1>
        <p-dataTable [value]="measurementUnitSetups" selectionMode="single"
                     [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
                     [totalRecords]="totalRecords">
            <p-column *ngFor="let col of dtCols" [field]="col.field" [header]="col.header" [filter]="col.filter" [sortable]="true">
            </p-column>
        </p-dataTable>
    </div>
</div>