﻿<div class="ui-g">
    <div class="ui-g-12">
        <p-toolbar>
            <div class="ui-toolbar-group-left">
                 Date :<p-calendar [(ngModel)]="dateRange" selectionMode="range" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2070" readonlyInput="true" ></p-calendar>
                <button pButton class="green-btn" type="button" label="Refresh" icon="fa-refresh" (click)="generateReport()"></button>
                <p-triStateCheckbox [(ngModel)]="allowZero" binary="true" (onChange)="toggleList(i)"></p-triStateCheckbox>Zero value
            </div>
            <div class="ui-toolbar-group-right">
                <button pButton type="button" style="background-color:#1B9B13;" icon="fa-file-excel-o" (click)="generateExcel()"></button>
            </div>
        </p-toolbar>
    </div>

    <div class="ui-g-12">
        <div class="card card-w-title">
            <h1>Sales By Customer</h1>
            <p-dataTable [value]="salesByCustomers"
                         selectionMode="single" [rows]="10" [paginator]="true"
                         [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [totalRecords]="totalRecords" [loading]="loading" exportFilename="InventoryDetailsReport" #dt>
                
                <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header" [filter]="col.filter" [sortable]="true" >
                </p-column>
                <p-footerColumnGroup style="font-weight:bold;">
                    <p-row>
                        <p-column [style]="{'text-align':'left','font-weight':'bold'}" footer="Total:"></p-column>
                        <p-column [style]="{'text-align':'right','font-weight':'bold'}" footer="{{totalInvoice}}"></p-column>
                        <p-column [style]="{'text-align':'right','font-weight':'bold'}" footer="{{totalInvoicedAmount}}"></p-column>
                    </p-row>
                </p-footerColumnGroup>
            </p-dataTable>
        </div>
    </div>
</div>