﻿<div class="ui-g">
    <div class="ui-g-8 ui-md-8 card card-w-title">
        <h1>{{categoryName}}</h1>
        <p-dataTable [value]="items" [lazy]="true" (onLazyLoad)="loadItemsLazy($event)" selectionMode="single"
                     [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [loading]="loading" [responsive]="true"
                     [totalRecords]="totalRecords">
            <p-headerColumnGroup>
                <p-row>
                    <p-column header="Name"></p-column>
                    <p-column header="Description"></p-column>
                </p-row>
            </p-headerColumnGroup>
            <p-column *ngFor="let col of dtCols" [field]="col.field" [header]="col.header" [filter]="col.filter" [sortable]="true">
            </p-column>
        </p-dataTable>
    </div>
</div>