﻿<div class="ui-g">
    <div class="ui-g-12">
        <p-toolbar>
            <div class="ui-toolbar-group-left">
                Date : <p-calendar [(ngModel)]="rangeDates" selectionMode="range" readonlyInput="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
                <button pButton class="green-btn" type="button" label="Refresh" icon="fa-refresh" (click)="loadReport()"></button>
                <p-triStateCheckbox [(ngModel)]="listType" binary="true" (onChange)="toggleList(i)"></p-triStateCheckbox>Zero value
            </div>
            <div class="ui-toolbar-group-right">
                <button pButton type="button" style="background-color:#1B9B13;" icon="fa-file-excel-o" (click)="generateExcel()"></button>
            </div>
        </p-toolbar>
    </div>
    <div class="ui-g-12">
        <div class="card">
            <h1>Purchase by Item Report</h1>
            <p-dataTable [value]="purchaseByItems"
                         selectionMode="single" [rows]="10" [paginator]="true"
                         [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [totalRecords]="totalRecords" [loading]="loading" exportFilename="purchaseByItemReport" #dt>
                <p-column *ngFor="let col of dtCols" [field]="col.field" [header]="col.header" [filter]="col.filter" [sortable]="true">
                </p-column>
                <p-footerColumnGroup style="font-weight:bold;">
                    <p-row>
                        <p-column [style]="{'text-align':'left','font-weight':'bold'}" footer="Total:"></p-column>
                        <p-column [style]="{'text-align':'right','font-weight':'bold'}" footer="{{totalQuantityPurchased}}"></p-column>
                        <p-column [style]="{'text-align':'right','font-weight':'bold'}" footer="{{totalAmount}}"></p-column>
                    </p-row>
                </p-footerColumnGroup>
            </p-dataTable>
        </div>
    </div>
</div>