﻿table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

thead > tr > th {
    background-color: #ffffff;
    padding: 0.5em 1em;
    border-color: #eaeaea;
    color: #777777;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
}

tr td {
    border-color: #eaeaea;
    border-width: 1px;
    border-style: solid;
}

    tr td span {
        padding: 0.5em 1em;
    }

tr:nth-child(even) {
    background-color: #f8f8f8
}

.text-danger {
    color: red;
}

.orderTotalAmount {
    font-size: 20px;
    color: #ff0000;
    font-weight: bold;
    text-align: right;
    font-style: italic;
}
.bill-maint .overview-box .overview-box-name {
    font-size: 16px;
    display: inline-block;
    width: 100%;
}

.bill-maint .overview-box .overview-box-count {
    font-size: 36px;
    font-weight: bold;
}

.bill-maint .overview-box .dueAmount {
    color:crimson;
}