﻿<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-lg-8">
        <div class="card card-w-title">
            <h1>Bill Maintenance</h1>
            <p>{{paragraph}}</p>
            <p-growl [(value)]="msgs"></p-growl>
            <div class="ui-g bill-maint">
                <div class="ui-g-4 ui-md-4 ui-lg-4">
                    <div class="ui-g overview-box overview-box-1">
                        <div class="ui-g-3 overview-box-icon">
                            <i class="fa fa-cog fa-5x"></i>
                        </div>
                        <div class="ui-g-9">
                            <p-inputSwitch class="ui-g-4" onLabel="Yes" offLabel="No" (onChange)="handleChange($event)" [(ngModel)]="checked"></p-inputSwitch>
                            <span class="overview-box-name">Genarate Bill No</span>
                        </div>
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4 ui-lg-4">
                    <div class="ui-g overview-box overview-box-1">
                        <div class="ui-g-3 overview-box-icon">
                            <i class="fa fa-dollar fa-5x"></i>
                        </div>
                        <div class="ui-g-9">
                            <span class="overview-box-count">{{orderTotalAmount}} </span>
                            <span class="overview-box-name">Order Amount</span>
                        </div>
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4 ui-lg-4">
                    <div class="ui-g overview-box overview-box-1">
                        <div class="ui-g-3 overview-box-icon">
                            <i class="fa fa-dollar fa-5x"></i>
                        </div>
                        <div class="ui-g-9">
                            <span class="overview-box-count dueAmount">{{dueTotalAmount}} </span>
                            <span class="overview-box-name">Due Amount</span>
                        </div>
                    </div>
                </div>
            </div>
            <form novalidate (ngSubmit)="saveBill()" [formGroup]="billForm">
                <div class="ui-g">
                    <div class="form-group">
                        <div class="ui-g-6 ui-md-12">
                            <p-inputMask mask="ORD-999999999999" placeholder="Order No" id="orderMoniker" formControlName="orderMoniker" (onComplete)="searchOrders()"></p-inputMask>
                            <span *ngIf="displayMessage.orderMoniker">
                                <i class="text-danger">*{{displayMessage.orderMoniker}}</i>
                            </span>
                        </div>
                        <div class="ui-g-12 ui-md-12" *ngIf="checked==false">
                            <p-inputMask mask="BILL-999999999999" placeholder="Bill No" id="monikerId" formControlName="moniker"></p-inputMask>
                            <span *ngIf="displayMessage.moniker">
                                <i class="text-danger">*{{displayMessage.moniker}}</i>
                            </span>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <p-calendar id="billDateId" formControlName="billDate" [showIcon]="true" placeholder="Bill Date"></p-calendar>
                            <span *ngIf="displayMessage.billDate">
                                <i class="text-danger">*{{displayMessage.billDate}}</i>
                            </span>
                        </div>
                        <div class="ui-g-6 ui-md-6">
                            <p-spinner id="paidAmountId" placeholder="Paid Amount" formControlName="paidAmount"></p-spinner>
                            <span *ngIf="displayMessage.paidAmount">
                                <i class="text-danger">*{{displayMessage.paidAmount}}</i>
                            </span>
                        </div>
                        <div class="ui-g-12 ui-md-12">
                            <button type="submit" label="Save" pButton icon="fa-save" [disabled]='!billForm.valid'></button>
                        </div>
                        <div class="ui-g-12 ui-md-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="30%">Bill No</th>
                                        <th width="30%">Date</th>
                                        <th width="20%">Amount</th>
                                        <th width="20%">Payment Method</th>
                                    </tr>
                                </thead>
                                <tbody formArrayName="bills">
                                    <tr *ngFor="let bills of bills.controls; let i = index" [formGroupName]="i">
                                        <td>
                                            <span>{{bills.get('moniker').value}}</span>
                                        </td>
                                        <td>
                                            <span>{{bills.get('billDate').value}}</span>
                                        </td>
                                        <td>
                                            <span>{{bills.get('paidAmount').value}}</span>
                                        </td>
                                        <td>
                                            <span>{{bills.get('paymentMethod').value}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="9" style="padding: 7px 0px;" *ngIf="bills.controls.length === 0">
                                            <span><i>No results found!</i></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
            <span [innerText]="errorMessage" class="text-danger"></span>
        </div>
    </div>
</div>
