﻿<div class="ui-g">
    <div class="ui-g-12 ui-lg-4">
        <div class="card card-w-title" style="text-align: center; height:420px; overflow-y:auto;">
            <h1>{{item.name}}</h1>
            <img src="http://pngimg.com/uploads/tshirt/tshirt_PNG5448.png" height="250"/>
            <p><span *ngIf="item.description">{{item.description}}</span><span *ngIf="!item.description">No description provide!</span></p>
            <label class="label label-primary">{{item.category.name}}</label>
        </div>
    </div>
    <div class="ui-g-12 ui-lg-8">
        <p-panel header="MONTHLY SALES AMOUNT">
            <p-chart type="bar" [data]="itemDemandData" [options]="options" [height]="374"></p-chart>
        </p-panel>
    </div>
    <div class="ui-g-12 ui-lg-12">
        <div class="card card-w-title">
            <h1>Measurement Unit Setups</h1>
            <p-dataTable [value]="measurementUnitSetups"
                         [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
                <p-column *ngFor="let col of dtCols" [field]="col.field" [header]="col.header" [filter]="col.filter"></p-column>
            </p-dataTable>
        </div>
    </div>
</div>
