<p-growl  [(value)]="messages"></p-growl>
<form novalidate (ngSubmit)="saveMeasurementUnitSetup()" [formGroup]="measurementUnitSetupForm">
    <div class="ui-g">
        <div class="form-group">
            <div class="ui-g-12 ui-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="10%">Select</th>
                            <th width="25%">Unit</th>
                            <th width="10%">Base</th>
                            <th width="15%">Conversion Ratio<span>(In {{baseUnitName}})</span></th>
                            <th width="15%">Unit Selling Price </th>
                            <th width="10%">Allow Discount</th>
                            <th width="15%">Discount Price</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="measurementUnitSetups">
                        <tr *ngFor="let measurementUnitSetup of measurementUnitSetups.controls; let i = index" [formGroupName]="i">
                            <td style="text-align: center">
                                <p-checkbox binary="true" id="{{'isCheckedId' + i}}" formControlName="isChecked" (onChange)="updateSelection(i)"></p-checkbox>
                            </td>
                            <td>
                                <span>{{(measurementUnitSetup.get('measurementUnit').value).name}}</span>
                            </td>
                            <td style="text-align: center">
                                <p-checkbox binary="true" id="{{'isBaseId' + i}}" formControlName="isBase" (onChange)="updateBaseUnit(i)"></p-checkbox>
                            </td>
                            <td>
                                <input type="number" id="{{'conversionRatioId' + i}}" formControlName="conversionRatio" pInputText placeholder="Ratio">
                            </td>
                            <td>
                                <p-spinner id="{{'sellingPriceId' + i}}" formControlName="sellingPrice" placeholder="Unit Selling Price"> </p-spinner>
                            </td>
                            <td style="text-align: center">
                                <p-checkbox binary="true" id="{{'allowDiscountId' + i}}" formControlName="allowDiscount" (onChange)="resetDiscountFields(i)"></p-checkbox>
                            </td>
                            <td>
                                <p-spinner id="{{'discountPriceId' + i}}" formControlName="discountPrice" placeholder="Discount Price"></p-spinner>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="8" style="padding: 7px 0px;" *ngIf="measurementUnitSetups.controls.length === 0">
                                <span><i>No records found!</i></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="ui-g-12 ui-md-12">
                <button type="submit" label="Save" pButton icon="fa-save" [disabled]='!measurementUnitSetupForm.dirty'></button>
            </div>
        </div>
    </div>
</form>