<div class="ui-g dashboard">

    <div class="ui-g-12">
        <p-toolbar>
            <div class="ui-toolbar-group-left">
                <button pButton class="blue-btn" type="button" label="Add New Measurement Unit" icon="fa-plus" (click)="navigateToMeasurementUnitAddPage()"></button>
                <button pButton class="green-btn" type="button" label="Refresh" icon="fa-refresh" (click)="refreshDataTable()"></button>
                <input #gb type="text" pInputText placeholder="Search">
                <i class="fa fa-search" style="position: relative; right: 20px;"></i>
            </div>

            <div class="ui-toolbar-group-right" style="margin-top: -7px;">
                <p-multiSelect [style]="{ 'height': '26px', 'top': '7px'}" [options]="columnOptions" [(ngModel)]="cols"></p-multiSelect>
                <button pButton type="button" icon="fa-print" (click)="dt.exportCSV()"></button>
                <button pButton type="button" class="black-btn" icon="fa-list" (click)="toggleView()"></button>
            </div>
        </p-toolbar>
    </div>
    <div class="ui-g-12">
        <div class="card">
            <p-dataTable [value]="measurementUnits" selectionMode="single" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
                         [globalFilter]="gb" reorderableColumns="true" [responsive]="true" [stacked]="stacked" [loading]="loading" (onRowDblclick)="viewMesurementUnit($event.data)" #dt>
                
                <p-column *ngFor="let col of dtCols" [field]="col.field" [header]="col.header" [filter]="col.filter"  [hidden]="!isVisible(col)" [sortable]="true"></p-column>
                
                <p-column header="Actions">
                    <ng-template let-measurementUnit="rowData" pTemplate="body">
                        <div style="text-align:center;">
                            <button type="button" class="green-btn" pButton (click)="viewMesurementUnit(measurementUnit)" icon="fa-eye"></button>
                            <button type="button" class="blue-btn" pButton (click)="editMeasurementUnit(measurementUnit)" icon="fa-edit"></button>
                            <button type="button" class="pink-btn" pButton (click)="deleteMeasurementUnit(measurementUnit)" icon="fa-trash-o "></button>
                        </div>
                    </ng-template>
                </p-column>
            </p-dataTable>
        </div>
    </div>
</div>

<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>