﻿<div class="ui-g">
    <div class="card">
        <div class="ui-g-4 ui-g-nopad">
            <div class="ui-g">
                <div class="ui-g-12">
                    <div class="card card-w-title">
                        <h1>
                            <i class="fa fa-barcode floating-right-icon"></i>Invoice No</h1>
                        <div style="text-align:center; font-size: 2em;">
                            {{invoice.moniker}}
                        </div>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="card card-w-title">
                        <h1>
                            <i class="fa fa-calendar-o floating-right-icon" style="color:#5bc0de;"></i>Bill Date</h1>
                        <div style="text-align:center; font-size: 2em;">
                            {{invoice.invoiceDate | date}}
                        </div>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="card card-w-title">
                        <h1>
                            <i class="fa fa-shopping-cart floating-right-icon" style="color:#5bc0de;"></i>Order No.</h1>
                        <div style="text-align:center; font-size: 2em;">
                            {{invoice.order.moniker}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g-4 ui-g-nopad">
            <div class="ui-g-12">
                <div class="card" style="min-height: 400px;">
                    <h1 style="color:#f0ad4e">Billing Address</h1>
                    <div style="font-size:1.2em;">
                        <span>
                            <b>Name: </b>{{invoice.order.customer.firstName}} {{invoice.order.customer.lastName}}</span>
                    </div>
                    <div style="font-size:1.2em;">
                        <span>
                            <b>P. Address: </b>{{invoice.order.customer.address1}}</span>
                    </div>
                    <div style="font-size:1.2em;">
                        <span>
                            <b>S. Address: </b>
                            <span *ngIf="invoice.order.customer.address2">{{invoice.order.customer.address2}}</span>
                            <span *ngIf="!invoice.order.customer.address2">N/A</span>
                        </span>
                    </div>
                    <div style="font-size:1.2em;">
                        <span>
                            <b>Country: </b>
                            <span *ngIf="invoice.order.customer.country">{{invoice.order.customer.country}}</span>
                            <span *ngIf="!invoice.order.customer.country">N/A</span>
                        </span>
                    </div>
                    <div style="font-size:1.2em;">
                        <span>
                            <b>City: </b>
                            <span *ngIf="invoice.order.customer.city">{{invoice.order.customer.city}}</span>
                            <span *ngIf="!invoice.order.customer.city">N/A</span>
                        </span>
                    </div>
                    <div style="font-size:1.2em;">
                        <span>
                            <b>Postal Code: </b>
                            <span *ngIf="invoice.order.customer.postal">{{invoice.order.customer.postal}}</span>
                            <span *ngIf="!invoice.order.customer.postal">N/A</span>
                        </span>
                    </div>
                    <h1 style="color:#f0ad4e">Contact Info</h1>
                    <div style="font-size:1.2em;">
                        <span>
                            <b>Phone: </b>
                            <span *ngIf="invoice.order.customer.phone">{{invoice.order.customer.phone}}</span>
                            <span *ngIf="!invoice.order.customer.phone">N/A</span>
                        </span>
                    </div>
                    <div style="font-size:1.2em;">
                        <span>
                            <b>Alt. Phone: </b>
                            <span *ngIf="invoice.order.customer.alternativePhone">{{invoice.order.customer.alternativePhone}}</span>
                            <span *ngIf="!invoice.order.customer.alternativePhone">N/A</span>
                        </span>
                    </div>
                    <div style="font-size:1.2em;">
                        <span>
                            <b>Email: </b>
                            <span *ngIf="invoice.order.customer.email">{{invoice.order.customer.email}}</span>
                            <span *ngIf="!invoice.order.customer.email">N/A</span>
                        </span>
                    </div>
                    <div style="font-size:1.2em;">
                        <span>
                            <b>Website: </b>
                            <span *ngIf="invoice.order.customer.website">{{invoice.order.customer.website}}</span>
                            <span *ngIf="!invoice.order.customer.website">N/A</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g-4 ui-g-nopad">
            <div class="ui-g">
                <div class="ui-g-12">
                    <div style="text-align: right;height: 273px;">
                        <button pButton type="button" class="blue-btn" style="width: 45px; height:45px;" icon="fa-pencil fa-2x" (click)="editInvoice()"></button>
                        <button pButton type="button" class="purple-btn" style="width: 45px; height:45px;" icon="fa-file-pdf-o fa-2x" (click)="generatePdf()"></button>
                        <button pButton type="button" pTooltip="View order" tooltipPosition="top" class="green-btn" style="width: 45px; height:45px;" icon="fa-shopping-cart fa-2x" (click)="viewOrder()"></button>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="card card-w-title">
                        <h1>
                            <i class="fa fa-money floating-right-icon" style="color:#8bc34a;"></i>Invoiced Amount</h1>
                        <div style="text-align:center; font-size: 2em;">
                            {{totalAmount}} Tk.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-g-nopad">
            <div class="ui-g">
                <div class="ui-g-12">
                    <div class="card card-w-title">
                        <h1>Invoiced Items</h1>
                        <p-dataTable [value]="invoiceItems" [loading]="loading">
                            <p-column *ngFor="let col of dtCols" [field]="col.field" [header]="col.header" [sortable]="true">
                            </p-column>
                        </p-dataTable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>