﻿<div class="ui-g">
    <div class="card">
        <div class="ui-g-3 ui-g-nopad">
            <div class="ui-g">
                <div class="ui-g-12">
                    <div class="card card-w-title">
                        <h1><i class="fa fa-barcode floating-right-icon"></i>Inventory No</h1>
                        <div style="text-align:center; font-size: 2em;">
                            {{inventory.moniker}}
                        </div>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="card card-w-title">
                        <h1><i class="fa fa-calendar-o floating-right-icon" style="color:#5bc0de;"></i>Purchase Date</h1>
                        <div style="text-align:center; font-size: 2em;">
                            {{inventory.purchaseDate}}
                        </div>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="card card-w-title">
                        <h1><i class="fa fa-money floating-right-icon" style="color:#8bc34a;"></i>Total Purchase Amount</h1>
                        <div style="text-align:center; font-size: 2em;">
                            {{totalInventoryAmount}} Tk.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g-3 ui-g-nopad">
            <div class="ui-g-12">
                <div class="card" style="min-height: 400px;">
                    <h1 style="color:#f0ad4e">Billing Address</h1>
                    <div style="font-size:1.2em;">
                        <span><b>Name: </b>{{inventory.supplier.firstName}} {{inventory.supplier.lastName}}</span>
                    </div>
                    <div style="font-size:1.2em;">
                        <span><b>P. Address: </b>{{inventory.supplier.address1}}</span>
                    </div>
                    <div style="font-size:1.2em;">
                        <span><b>S. Address: </b><span *ngIf="inventory.supplier.address2">{{inventory.supplier.address2}}</span><span *ngIf="!inventory.supplier.address2">N/A</span></span>
                    </div>
                    <div style="font-size:1.2em;">
                        <span><b>Country: </b><span *ngIf="inventory.supplier.country">{{inventory.supplier.country}}</span><span *ngIf="!inventory.supplier.country">N/A</span></span>
                    </div>
                    <div style="font-size:1.2em;">
                        <span><b>City: </b><span *ngIf="inventory.supplier.city">{{inventory.supplier.city}}</span><span *ngIf="!inventory.supplier.city">N/A</span></span>
                    </div>
                    <div style="font-size:1.2em;">
                        <span><b>Postal Code: </b><span *ngIf="inventory.supplier.postal">{{inventory.supplier.postal}}</span><span *ngIf="!inventory.supplier.postal">N/A</span></span>
                    </div>
                    <h1 style="color:#f0ad4e">Contact Info</h1>
                    <div style="font-size:1.2em;">
                        <span><b>Phone: </b><span *ngIf="inventory.supplier.phone">{{inventory.supplier.phone}}</span><span *ngIf="!inventory.supplier.phone">N/A</span></span>
                    </div>
                    <div style="font-size:1.2em;">
                        <span><b>Alt. Phone: </b><span *ngIf="inventory.supplier.alternativePhone">{{inventory.supplier.alternativePhone}}</span><span *ngIf="!inventory.supplier.alternativePhone">N/A</span></span>
                    </div>
                    <div style="font-size:1.2em;">
                        <span><b>Email: </b><span *ngIf="inventory.supplier.email">{{inventory.supplier.email}}</span><span *ngIf="!inventory.supplier.email">N/A</span></span>
                    </div>
                    <div style="font-size:1.2em;">
                        <span><b>Website: </b><span *ngIf="inventory.supplier.website">{{inventory.supplier.website}}</span><span *ngIf="!inventory.supplier.website">N/A</span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g-6 ui-g-nopad">
            <div class="ui-g">
                <div class="ui-g-12">
                    <div style="text-align: right;">
                        <button pButton type="button" class="blue-btn" style="width: 45px; height:45px;" icon="fa-pencil fa-2x" (click)="editInventory()"></button>
                        <button pButton type="button" class="purple-btn" style="width: 45px; height:45px;" icon="fa-file-pdf-o fa-2x" (click)="generatePdf()"></button>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="card" style="height: 342px;overflow-y: auto">
                        <h1 *ngIf="inventory.description">{{inventory.description}}</h1>
                        <p-dataTable [value]="inventoryItems" [loading]="loading">
                            <p-column *ngFor="let col of dtCols" [field]="col.field" [header]="col.header" [sortable]="true">
                            </p-column>
                        </p-dataTable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
