﻿.floating-right-icon {
    float: right;
    font-size: 1.5em;
}

.status-box {
    display: inline;
    padding: .2em .6em .3em;
    font-weight: bold;
    line-height: 4;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 2px;
}

.status-success {
    background:#8bc34a;
}

.status-danger{
    background:#f44336; 
}

.status-warning {
    background: #f0ad4e;
}