﻿<p-tabView>
    <p-tabPanel header="Basic Information">
        <div class="ui-g">
            <div class="ui-g-3 ui-g-nopad">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <div class="card card-w-title">
                            <h1><i class="fa fa-barcode floating-right-icon"></i>Order No</h1>
                            <div style="text-align:center; font-size: 2em;">
                                {{order.moniker}}
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="card card-w-title">
                            <h1><i class="fa fa-money floating-right-icon" style="color:#8bc34a;"></i>Total Order Amount</h1>
                            <div style="text-align:center; font-size: 2em;">
                                {{totalOrderAmount}} Tk.
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div style="text-align: center;">
                            <button pButton type="button" class="blue-btn" style="width: 45px; height:45px;" icon="fa-pencil fa-2x" (click)="editOrder()"></button>
                            <button pButton type="button" class="purple-btn" style="width: 45px; height:45px;" icon="fa-file-pdf-o fa-2x" (click)="generatePdf()"></button>
                            <button pButton pTooltip="Create new bill" tooltipPosition="top" type="button" class="orange-btn" style="width: 45px; height:45px;" icon="fa-credit-card fa-2x" (click)="addNewBill()"></button>
                            <button pButton pTooltip="Create new invoice" tooltipPosition="top" type="button" class="black-btn" style="width: 45px; height:45px;" icon="fa-files-o fa-2x" (click)="addNewInvoice()"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-g-6 ui-g-nopad">
                <div class="ui-g">
                    <div class="ui-g-6">
                        <div class="card card-w-title">
                            <h1><i class="fa fa-calendar-o floating-right-icon" style="color:#5bc0de;"></i>Order Date</h1>
                            <span style="font-size:2em;">{{order.orderDate}}</span>
                        </div>
                    </div>
                    <div class="ui-g-6">
                        <div class="card card-w-title">
                            <h1><i class="fa fa-calendar-check-o floating-right-icon" style="color:#5bc0de;"></i>Expected Delivery Date</h1>
                            <span style="font-size:2em;">{{order.expectedDeliveryDate}}</span>
                        </div>
                    </div>
                    <div class="ui-g-6">
                        <div class="card card-w-title">
                            <h1>Billing Address</h1>
                            <div style="font-size:1.2em;">
                                <span><b>Name: </b>{{order.customer.firstName}} {{order.customer.lastName}}</span>
                            </div>
                            <div style="font-size:1.2em;">
                                <span><b>P. Address: </b>{{order.customer.address1}}</span>
                            </div>
                            <div style="font-size:1.2em;">
                                <span><b>S. Address: </b><span *ngIf="order.customer.address2">{{order.customer.address2}}</span><span *ngIf="!order.customer.address2">N/A</span></span>
                            </div>
                            <div style="font-size:1.2em;">
                                <span><b>Country: </b><span *ngIf="order.customer.country">{{order.customer.country}}</span><span *ngIf="!order.customer.country">N/A</span></span>
                            </div>
                            <div style="font-size:1.2em;">
                                <span><b>City: </b><span *ngIf="order.customer.city">{{order.customer.city}}</span><span *ngIf="!order.customer.city">N/A</span></span>
                            </div>
                            <div style="font-size:1.2em;">
                                <span><b>Postal Code: </b><span *ngIf="order.customer.postal">{{order.customer.postal}}</span><span *ngIf="!order.customer.postal">N/A</span></span>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-6">
                        <div class="card card-w-title" style="height:196px">
                            <h1>Contact Info</h1>
                            <div style="font-size:1.2em;">
                                <span><b>Phone: </b><span *ngIf="order.customer.phone">{{order.customer.phone}}</span><span *ngIf="!order.customer.phone">N/A</span></span>
                            </div>
                            <div style="font-size:1.2em;">
                                <span><b>Alt. Phone: </b><span *ngIf="order.customer.alternativePhone">{{order.customer.alternativePhone}}</span><span *ngIf="!order.customer.alternativePhone">N/A</span></span>
                            </div>
                            <div style="font-size:1.2em;">
                                <span><b>Email: </b><span *ngIf="order.customer.email">{{order.customer.email}}</span><span *ngIf="!order.customer.email">N/A</span></span>
                            </div>
                            <div style="font-size:1.2em;">
                                <span><b>Company: </b><span *ngIf="order.customer.companyName">{{order.customer.companyName}}</span><span *ngIf="!order.customer.companyName">N/A</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-g-3 ui-g-nopad">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <div class="card card-w-title" style="height: 340px">
                            <h1>Order Status</h1>
                            <h2 class="status-box" [class.status-danger]="order.orderStatus=='Pending'" [class.status-success]="order.orderStatus=='Delivery Completed'" [class.status-warning]="order.orderStatus=='Partial Delivered'">{{order.orderStatus}}</h2>
                            <h1>Payment Status</h1>
                            <h2 class="status-box" [class.status-danger]="order.paymentStatus=='Unpaid'" [class.status-success]="order.paymentStatus=='Paid'" [class.status-warning]="order.paymentStatus=='Partial Paid'">{{order.paymentStatus}}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-g-nopad">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <div class="card card-w-title">
                            <h1>Ordered Items</h1>
                            <p-dataTable [value]="orderItems" [loading]="loading">
                                <p-column *ngFor="let col of dtCols" [field]="col.field" [header]="col.header" [sortable]="true">
                                </p-column>
                                <!--<p-footerColumnGroup>
                                    <p-row class="footerNumberFields">
                                        <p-column [style]="{'text-align':'left','font-weight':'bold'}" footer="Total:"></p-column>
                                        <p-column footer=""></p-column>
                                        <p-column footer=""></p-column>
                                        <p-column footer=""></p-column>
                                        <p-column footer="">></p-column>
                                        <p-column [style]="{'text-align':'right','font-weight':'bold'}" footer="{{totalOrderAmount}}"></p-column>
                                        <p-column footer=""></p-column>
                                    </p-row>
                                </p-footerColumnGroup>-->
                            </p-dataTable>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Invoices({{totalInvoices}})">
        <div class="ui-g">
            <div class="card card-w-title">
                <h1>Issued Invoices</h1>
                <p-dataTable [value]="invoices" (onRowDblclick)="viewInvoice($event.data)" [loading]="loading" selectionMode="single">
                    <p-column *ngFor="let colIn of dtInvoiceCols" [field]="colIn.field" [header]="colIn.header" [sortable]="true">
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Bills({{totalBills}})">
        <div class="ui-g">
            <div class="card card-w-title">
                <h1>Issued Bills</h1>
                <p-dataTable [value]="bills" (onRowDblclick)="viewBill($event.data)" [loading]="loading" selectionMode="single">
                    <p-column *ngFor="let colIn of dtBillCols" [field]="colIn.field" [header]="colIn.header" [sortable]="true">
                    </p-column>
                    <p-footerColumnGroup>
                        <p-row class="footerNumberFields">
                            <p-column [style]="{'text-align':'left','font-weight':'bold'}" footer="Total:"></p-column>
                            <p-column footer=""></p-column>
                            <p-column [style]="{'text-align':'right','font-weight':'bold'}" footer="{{totalBillAmount}}"></p-column>
                            <p-column footer=""></p-column>
                        </p-row>
                    </p-footerColumnGroup>
                </p-dataTable>
            </div>
        </div>
    </p-tabPanel>
</p-tabView>