﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>3 TIER LAB ERP</title>
    <base href="/" />
    <link href="~/dist/theme/theme-blue.css" rel="stylesheet" />
    <link href="~/dist/layout/css/layout-blue.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <link href="~/site.css" rel="stylesheet" />
</head>
<body class="main-body">
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
