﻿<div class="ui-g">
    <div class="card">
        <div class="ui-g-3 ui-g-nopad">
            <div class="ui-g-12">
                <div class="card card-w-title" style="text-align: center;min-height: 448px;">
                    <h1>{{supplier.firstName}} {{supplier.lastName}}</h1>
                    <img src="http://headshot.com.au/wp/wp-content/uploads/2014/04/MHC_3987_passport.jpg" height="250" />
                    <p>{{supplier.address1}}</p>
                    <div class="ui-g-12">
                        <button class="ui-button-secondary" pButton icon="fa-address-card-o" (mouseenter)="addressInfo.show($event)" label="Additional Info"></button>
                    </div>
                    <label class="label label-primary"><i class="fa fa-phone"></i> {{supplier.phone}}</label>
                </div>
                <p-overlayPanel #addressInfo>
                    <p *ngIf="supplier.address2"><span><b>Seconday:</b></span> {{supplier.address2}}</p>
                    <p *ngIf="supplier.city"><span><b>City:</b></span> {{supplier.city}}</p>
                    <p *ngIf="supplier.country"><span><b>Country:</b></span> {{supplier.country}}</p>
                    <p *ngIf="supplier.email"><span><b>Email:</b></span> {{supplier.email}}</p>
                    <p *ngIf="supplier.alternativePhone"><span><b>Alt. Phone:</b></span> {{supplier.alternativePhone}}</p>
                </p-overlayPanel>
            </div>
        </div>
        <div class="ui-g-3 ui-g-nopad">
            <div class="ui-g">
                <div class="ui-g-12">
                    <div class="card card-w-title">
                        <h1><i class="fa fa-money floating-right-icon" style="color:#8bc34a;"></i>Total Purchase Amount</h1>
                        <div style="text-align:center; font-size: 3em;">
                            {{totalInventoryAmount}} Tk.
                        </div>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="card card-w-title">
                        <h1><i class="fa fa-shopping-bag floating-right-icon" style="color:#f0ad4e;"></i>Total Inventory Items</h1>
                        <div style="text-align:center; font-size: 3em; color: #f0ad4e;">
                            {{totalInventoryItems}}
                        </div>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="card card-w-title">
                        <h1>Company</h1>
                        <div style="text-align:center;font-size: 3em;">
                            <span *ngIf="supplier.companyName">{{supplier.companyName}}</span>
                            <span *ngIf="!supplier.companyName">N/A</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g-6 ui-g-nopad">
            <div class="ui-g">
                <div class="ui-g-12">
                    <div class="card card-w-title" style="min-height: 448px;">
                        <h1><i class="fa fa-braille floating-right-icon" style="color:#5bc0de;"></i>Total Inventories</h1>
                        <p-dataTable [value]="inventories" [lazy]="true" *ngIf="supplier.phone" (onLazyLoad)="loadInventoriesLazy($event)" [rows]="10" [paginator]="true"
                                     [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
                                     [responsive]="true" [loading]="loading">
                            <p-column *ngFor="let colIn of dtInventoryCols" [field]="colIn.field" [header]="colIn.header" [sortable]="true">
                            </p-column>
                        </p-dataTable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
