<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-lg-8">
        <div class="card card-w-title">
            <h1>{{headline}}</h1>
            <p>{{paragraph}}</p>
            <form novalidate (ngSubmit)="saveSupplier()" [formGroup]="supplierForm">
                <div class="ui-g">
                    <div class="form-group">
                        <div class="ui-g-12 ui-md-6">
                            <input type="text" pInputText placeholder="First Name" id="firstNameId" formControlName="firstName">
                            <span *ngIf="displayMessage.firstName">
                                <i class="text-danger">*{{displayMessage.firstName}}</i>
                            </span>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <input type="text" pInputText placeholder="Last Name" id="lastNameId" formControlName="lastName">
                            <span *ngIf="displayMessage.lastName">
                                <i class="text-danger">*{{displayMessage.lastName}}</i>
                            </span>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <p-inputMask mask="(999)99999-99999" placeholder="Phone" id="phoneId" formControlName="phone"></p-inputMask>
                            <span *ngIf="displayMessage.phone">
                                <i class="text-danger">*{{displayMessage.phone}}</i>
                            </span>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <p-inputMask mask="(999) 99999-99999" placeholder="Alternative Phone" id="alternativePhoneId" formControlName="alternativePhone"></p-inputMask>
                        </div>
                        <div class="ui-g-12 ui-md-12">
                            <input type="text" pInputText placeholder="Address 1" id="address1Id" formControlName="address1">
                            <span *ngIf="displayMessage.address1">
                                <i class="text-danger">*{{displayMessage.address1}}</i>
                            </span>
                        </div>
                        <div class="ui-g-12 ui-md-12">
                            <input type="text" pInputText placeholder="Address 2" id="address2Id" formControlName="address2">
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <p-dropdown [options]="countries" [filter]="true" [autoWidth]="false" placeholder="Select Country" id="countryId" formControlName="country"></p-dropdown>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <input type="text" pInputText placeholder="City" id="cityId" formControlName="city">
                        </div>

                        <div class="ui-g-12 ui-md-6">
                            <input type="text" pInputText placeholder="Postal" id="postalCodeId" formControlName="postalCode">
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <input type="email" pInputText placeholder="Email" id="emailId" formControlName="email">
                            <span *ngIf="displayMessage.email">
                                <i class="text-danger">*{{displayMessage.email}}</i>
                            </span>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <input type="url" pInputText placeholder="Company Name" id="companyNameId" formControlName="companyName">
                        </div>
                        <div class="ui-g-12 ui-md-6">
                            <input type="url" pInputText placeholder="Website" id="websiteId" formControlName="website">
                        </div>
                        <div class="ui-g-12 ui-md-12">
                            <button type="submit" label="Save" pButton icon="fa-save" [disabled]='!supplierForm.valid'></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>