﻿<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-lg-12 card card-w-title">
        <h1>Order Maintenance</h1>
        <p>{{paragraph}}</p>
        <span class="label" [class.label-danger]="paymentStatus=='Unpaid'" [innerText]="paymentStatus" style="float: right;"></span>
        <span class="label" [class.label-warning]="orderStatus=='Pending'" [innerText]="orderStatus" style="float: right; margin-right: 5px;"></span>
        <p-growl [(value)]="msgs"></p-growl>
        <div class="ui-g">
            <span class="ui-g-3">Genarate Order Code</span>
            <p-inputSwitch class="ui-g-5" onLabel="Yes" offLabel="No" (onChange)="handleChange($event)" [(ngModel)]="checked"></p-inputSwitch>
        </div>
        <form novalidate (ngSubmit)="saveOrder()" [formGroup]="orderForm">
            <div class="ui-g">
                <div class="form-group">
                    <div class="ui-g-12 ui-md-12" *ngIf="checked==false">
                        <p-inputMask mask="ORD-999999999999" placeholder="Order Code" id="mokierId" formControlName="moniker"></p-inputMask>
                        <span *ngIf="displayMessage.moniker">
                            <i class="text-danger">*{{displayMessage.moniker}}</i>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-md-6">
                        <p-calendar id="orderDateId" (onSelect)="setExpectedDateMinValue()"  formControlName="orderDate" [showIcon]="true" placeholder="Order Date"></p-calendar>
                        <span *ngIf="displayMessage.orderDate">
                            <i class="text-danger">*{{displayMessage.orderDate}}</i>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-md-6">
                        <p-calendar id="expectedDeliveryDateId" [(ngModel)]="expectedDeliveryDate" [minDate]="minDateValue"  formControlName="expectedDeliveryDate" [showIcon]="true" placeholder="Expected Delivery Date"></p-calendar>
                        <span *ngIf="displayMessage.expectedDeliveryDate">
                            <i class="text-danger">*{{displayMessage.expectedDeliveryDate}}</i>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-md-12">
                        <p-dropdown id="customerId" formControlName="customer" [options]="customers" placeholder="Select Customer" [filter]="true" [autoWidth]="false"></p-dropdown>
                        <span *ngIf="displayMessage.customer">
                            <i class="text-danger">*{{displayMessage.customer}}</i>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-md-12">
                        <p-autoComplete id="itemsId" [suggestions]="items" (completeMethod)="searchItems($event)"
                                        [minLength]="1" placeholder="Search item(s)" field="name"
                                        (onSelect)="addItemInList($event)">
                        </p-autoComplete>
                    </div>
                    <div class="ui-g-12 ui-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="20%">Item</th>
                                    <th width="10%">Quantity</th>
                                    <th width="10%">M.Unit</th>
                                    <th width="15%">U.Price</th>
                                    <th width="10%">Discount</th>
                                    <th width="10%">Amount</th>
                                    <th width="15%">Remarks</th>
                                    <th width="10%">Action</th>
                                </tr>
                            </thead>
                            <tbody formArrayName="orderItems">
                                <tr *ngFor="let orderItem of orderItems.controls; let i = index" [formGroupName]="i">
                                    <td>
                                        <span>{{(orderItem.get('item').value).name}}</span>
                                    </td>
                                    <td>
                                        <p-spinner placeholder="Quantity" id="{{'quantityId' + i}}" formControlName="quantity" (onChange)="calculateRowAmount(i)"></p-spinner>
                                    </td>
                                    <td>
                                        <p-dropdown id="{{measurementUnitSetupId + i}}" formControlName="measurementUnitSetup" [options]="(orderItem.get('measurementUnitSetups').value)" placeholder="Select Unit" [autoWidth]="false" (onChange)="changeFieldsValues(i)"></p-dropdown>
                                    </td>
                                    <td>
                                        <span>{{(orderItem.get('unitPrice').value)}}</span>
                                    </td>
                                    <td>
                                        <span>{{(orderItem.get('discount').value)}}</span>
                                    </td>
                                    <td>
                                        <span>{{(orderItem.get('amount').value)}}</span>
                                    </td>
                                    <td>
                                        <input type="text" id="{{'remarksId' + i}}" formControlName="remarks" pInputText placeholder="Remarks">
                                    </td>
                                    <td style="text-align: center;">
                                        <button type="button" class="pink-btn" pButton (click)="deleteItemFromList(i)" icon="fa-trash-o"></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="8" style="padding: 7px 0px;" *ngIf="orderItems.controls.length === 0">
                                        <span><i>No items added to the order yet</i></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="ui-g-12 ui-md-12">
                        <button type="submit" label="Save" pButton icon="fa-save" [disabled]='!orderForm.valid'></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
